body {
  color: white;
}

select, option, input[type=text] {
  color: black;
}

#theme_div {
    display:block;
}

#theme_canvas {
    position:absolute;top:0;left:0;
    background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(105,173,212)),
        color-stop(0.84, rgb(23,82,145))
    );
}

/* update text color */
body {
  color: white;
}

select, option, input[type=text] {
  color: black;
}

#patches_list, #patch_html  {
  color: white;
}

#patch_html fieldset legend {
  color: white;
}

body .uk-tab > * > a {
  color: lightgray;
}

/* Hover + Focus */
body .uk-tab > * > a:hover,
body .uk-tab > * > a:focus {
  color: lightsteelblue;
}

/* Active */
body .uk-tab > .uk-active > a {
  color: white;
}

.box {
  color: black;
}
