.jstree-default .jstree-node {
    font-size: 16px;
    line-height: 24px;
}

.jstree-default .jstree-anchor {
    height: 24px;
    line-height: 24px;
}

#patch_html fieldset legend {
    font-size: 16px;
}
