.pure-form-input input[type=password], .pure-form-input input[type=email], .pure-form-input input[type=text], .pure-form-input select, .pure-form-input textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

.pure-form-input input[type=text]:focus,.pure-form-input select:focus,.pure-form-input textarea:focus {
    outline:0;border-color:#129FEA
}

.pure-form-input input[type=file]:focus, .pure-form-input input[type=checkbox]:focus, .pure-form-input input[type=radio]:focus {
    outline:#129FEA auto 1px
}

#preset_browse, #preset_saveas {
    color: #fff;
    background-color: #1878d6;
}

#preset_browse:before {
    content: "\EC51";
    font-family: Segoe MDL2 Assets;
}

#preset_saveas:before {
    content: "\E792";
    font-family: Segoe MDL2 Assets;
}

#patches_area {
    padding-top: 20px;
}

#patches_list, #patch_html {
    float: left;
    height: 50rem;
}

#patches_list {
    width:35%;
    box-shadow: 0 0 10px 1px  #ccc;
    border-radius: 3px;
    color: #000;
}

#patch_html {
    padding-left: 10px;
    width:62%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#patches_tree {
    max-width: 100%;
    overflow: auto;
    /* font: 10px Verdana, sans-serif; */
    padding: 10px;
}
