fieldset {
    /*background: rgba(255,255,255,.3);
    border-color: rgba(255,255,255,.6);*/
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 2px;
    /* font-size:0.8em; */
}

fieldset legend {
    color: #302A2A;
    font: bold 16px/2 Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px 2px rgb(88, 126, 156);
}

.box {
  background-color: #f1f1f1;
  padding: 0.01em 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.left_label {
  display:inline-block;
  width: 50%;
}
.right_val {
  display:inline-block;
  width: 40%;
}
